<!doctype html>
<html>
<!--[if lt IE 7]> <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>home</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/reset.css">	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="inner">			
			<input type="text"><button class="write">WRITE</button>
			<p id="results"><%= data %></p>
		</div><!--/.inner-->
	</div><!--/.wrapper-->	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script>
	if (!window.jQuery) {
		console.log("cdn failure http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
	    document.write('<script src="/js/libs/jquery-1.10.1.min.js"><\/script>');
	}
	</script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script>
		/*target ie10*/
		if (Function('/*@cc_on return document.documentMode===10@*/')()){
		    document.documentElement.className+=' ie10';
		}
	</script>
</body>
</html>