/*MEMO CSS*/
/* :nth-child / :odd => pair/impair*/

/****************************************************
*****************general kickstart !*****************
****************************************************/
	button{cursor: pointer;}
	a{text-decoration: none;}

	/*Meilleur solution que .clear{clear:both;}*/
		.clearfix:before,
		.clearfix:after {
		    content: " ";
		    display: table;
		}
		.clearfix:after {
		    clear: both;
		}
		/* IE6/7 support */
		.clearfix {
		    *zoom: 1;
		}

	/*empèche les padding de dépasser la width fixé*/
	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	/*force une longue chaine de caracteres à "casser" sur une autre ligne plutôt que de dépasser de son conteneur*/
	.break {
	    -ms-word-break: break-all;
	    word-break: break-all;
	 
	    word-break: break-word;
	 
	    -webkit-hyphens: auto;
	    -moz-hyphens: auto;
	    hyphens: auto;
	}
	/*cache le text et remplace par "..." lorsqu'il dépace la taille fixée*/
	.ellipsis {
	    width: 250px;
	    white-space: nowrap;
	    overflow: hidden;
	    -ms-text-overflow: ellipsis; /* Required for IE8 */
	    -o-text-overflow: ellipsis; /* Required for Opera */
	    text-overflow: ellipsis;
	}


	/*general positionning*/
	.left{float: left;}
	.right{float: right;}

	/*remove text from image, better than -9999px & C*/
	.ir {text-indent: 100%;white-space: nowrap;overflow: hidden;}

	/*general state*/
	.hide{display: none;}/*carefull, this hide to screen readers too*/
	.show{display: block;}
	.disabled{pointer-events: none;opacity: 0.5;}
	.visuallyhidden{/*hide to humans only, screenreaders can still read it*/
	    position: absolute;
	    width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	    height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	    padding: 0;
	    margin: -1px;
	    border: 0;
	    clip: rect(0 0 0 0);
	    overflow: hidden;    
	}

	/*general font*/
	.title{font-family: serif;}
	.code{font-family: monospace;}
	body{font-family: sans-serif;}

	/*si pas de js :*/
	.no-js{}
	/*si on est sur ie :*/
	.ie{}
	/*si on est sur ie<9 :*/
	.lt-ie9{}
	/*si on est sur ie<8 :*/
	.lt-ie8{}
	/*si on est sur ie<7 :*/
	.lt-ie7{}

/****************************************************
*************** CSS du site ci-après ****************
****************************************************/
body{background-color: #EFEEEC;}
a{color: #000;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: 	all 0.3s ease-out;
	-ms-transition: 	all 0.3s ease-out;
	-o-transition: 		all 0.3s ease-out;
	transition: 		all 0.3s ease-out;
}
a:hover,a:focus,a.active{color: #6b0;}
.wrapper{max-width:960px;position: relative; margin: 0 auto;background: #fff;padding: 0 10px;}

h1{font-size: 40px;font-weight: bold; padding:40px 0;}

.sidebar{width:30%;position: relative;}
#navScroll{position:fixed;font-size:18px;font-weight: bold;}
#navScroll a{display:block;margin:15px;}

.content{width:60%;margin:0 0 15px;}
h2{font-size:18px;margin:15px 0;font-weight: bold;}
.section{background: #EFEBE0;padding: 20px 40px;margin:0 0 25px;}
.section p{margin:0 0 10px;}
.section.active h2{color: #6b0;}

#footer{clear:both;padding:20px;background:#fff;text-align:center;background:#EFEBE0; margin:20px 0 0;}


/* #slider */
.no-js #slider{overflow: auto;}
.no-js .slide{float: none;}
#slider{width: 900px;height:400px;overflow: hidden;border: 2px solid grey;position: relative;}
#slider .contentSlides{position:absolute;}
#slider .slide{width: 900px;height:400px;float: left;}
#slider .control{border: none;position: absolute;top: 175px;z-index: 1;width: 50px;height: 50px;}
#slider .control.prev{left:0;}
#slider .control.next{right:0;}
/* /#slider */

/* #sliderCategories*/

/* .slider */
.no-js .slider{overflow: auto;}
.no-js .slider .slide{float: none;}

.slider{max-width: 920px; height: 370px; position: relative; margin: 0 0 40px;}
.slider .ovh{overflow: hidden; width: 100%;height: 100%; position: relative;}
.slider .navPart{position: absolute; bottom: -20px; /*bottom: -webkit-calc(-35px);*/ width: 100%; max-width: 920px; z-index: 1; text-align: center; list-style: circle;}
.slider .navPart li{display: inline-block;}
.slider .navPart li a{text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; border-radius: 10px; background: #cecece;}
.lt-ie8 .slider .navPart {left:45%;}
.lt-ie8 .slider .navPart li{float: left;}
.slider .navPart li a.active{background: #f00;}
.slider .contentSlides{position:absolute;}
.slider .slide{width: 920px; float: left; position: relative;}
.slider .slide .text-slide{position: absolute; right: 30px; top: 15px; width: 340px; text-align: center;}
.slider .control{position: absolute; top: 175px; z-index: 1; width: 50px;height: 50px; border-radius: 50px; min-width: 0;}
.slider .control.prev{left:-35px;}
.slider .control.next{right:-35px;}
.slider .control img{position: absolute; top: 0; left: 0;}
.lt-ie8  .slider .control img{position: absolute; top: -4px; left: -4px;}
/* /#sliderCategories */