@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('./font/helveticaneueltstd-md.eot');
	src: url('./font/helveticaneueltstd-md.eot?#iefix') format('embedded-opentype'),
		 url('./font/helveticaneueltstd-md.woff') format('woff'),
		 url('./font/helveticaneueltstd-md.ttf') format('truetype'),
		 url('./font/helveticaneueltstd-md.svg#helveticaneueltstd-md') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('./font/myriadpro-semibold.eot');
	src: url('./font/myriadpro-semibold.eot?#iefix') format('embedded-opentype'),
		 url('./font/myriadpro-semibold.woff') format('woff'),
		 url('./font/myriadpro-semibold.ttf') format('truetype'),
		 url('./font/myriadpro-semibold.svg#myriadpro-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*MEMO CSS*/
/* :nth-child / :odd => pair/impair*/

/****************************************************
*****************general kickstart !*****************
****************************************************/
	button{cursor: pointer;}
	a{text-decoration: none;}

	.clear{clear: both;}

	/*empèche les padding de dépasser la width fixé*/
	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	/*force une longue chaine de caracteres à "casser" sur une autre ligne plutôt que de dépasser de son conteneur*/
	.break {
	    -ms-word-break: break-all;
	    word-break: break-all;
	 
	    word-break: break-word;
	 
	    -webkit-hyphens: auto;
	    -moz-hyphens: auto;
	    hyphens: auto;
	}
	/*cache le text et remplace par "..." lorsqu'il dépace la taille fixée*/
	.ellipsis {
	    width: 250px;
	    white-space: nowrap;
	    overflow: hidden;
	    -ms-text-overflow: ellipsis; /* Required for IE8 */
	    -o-text-overflow: ellipsis; /* Required for Opera */
	    text-overflow: ellipsis;
	}


	/*general positionning*/
	.left{float: left;}
	.right{float: right;}
	.centerBlock{margin-left: auto;margin-right: auto;text-align: center; }
	.centerBlock .btn-group {display: inline-block;float: none;width: inherit;}

	/*remove text from image, better than -9999px & C*/
	.ir {text-indent: 100%;white-space: nowrap;overflow: hidden;}

	/*general state*/
	.hide{display: none;}/*carefull, this hide to screen readers too*/
	.show{display: block;}
	.disabled{pointer-events: none;opacity: 0.5;}
	.visuallyhidden{/*hide to humans only, screenreaders can still read it*/
	    position: absolute;
	    width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	    height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	    padding: 0;
	    margin: -1px;
	    border: 0;
	    clip: rect(0 0 0 0);
	    overflow: hidden;    
	}

	/*general font*/
	.title{font-family: serif;}
	.code{font-family: monospace;}
	body{font-family: 'MyriadPro-Semibold';font-size: 12px;position: relative;}
	.t-shadow{text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);}
	/*si pas de js :*/
	.no-js{}
	/*si on est sur ie :*/
	.ie{}
	/*si on est sur ie<9 :*/
	.lt-ie9{}
	/*si on est sur ie<8 :*/
	.lt-ie8{}
	/*si on est sur ie<7 :*/
	.lt-ie7{}

	/*PIE*/
	.pie .rounded{position: relative;z-index: 2;}


/****************************************************
*************** CSS du site ci-après ****************
****************************************************/
/*::selection{
	background: #b01055;
	color: #fff;
}*/
body{background-color: #eeeeee;}
a{color: #000;/*
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: 	all 0.3s ease-out;
	-ms-transition: 	all 0.3s ease-out;
	-o-transition: 		all 0.3s ease-out;
	transition: 		all 0.3s ease-out;*/
}
a:hover,a:focus,a.active{}

.wrapper{}
.inner{max-width: 980px;margin:0 auto;}
.noMargin{margin:0!important;}
.noPadding{padding:0!important;}
.btn-tertiary {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #979797;
	background-image: -moz-linear-gradient(top, #A6A6A6, #828282);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A6A6A6), to(#828282));
	background-image: -webkit-linear-gradient(top, #A6A6A6, #828282);
	background-image: -o-linear-gradient(top, #A6A6A6, #828282);
	background-image: linear-gradient(to bottom, #A6A6A6, #828282);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa6a6a6', endColorstr='#ff828282', GradientType=0);
	border-color: #828282 #828282 #5C5C5C;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-tertiary:hover,.btn-tertiary:focus{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #878787;
	background-image: -moz-linear-gradient(top, #acacac, #878787);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#acacac), to(#878787));
	background-image: -webkit-linear-gradient(top, #acacac, #878787);
	background-image: -o-linear-gradient(top, #acacac, #878787);
	background-image: linear-gradient(to bottom, #acacac, #878787);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffacacac', endColorstr='#ff878787', GradientType=0);
	border-color: #828282 #828282 #5C5C5C;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.icon{width: 24px; height: 24px;display: inline-block;}
.lt-ie8 .row-fluid .span6 {
    width: 48%;
}

#header{background: #1f1f1f url("../images/bg_dalle.jpg") repeat 0 10px;/*background: url("../images/header_bg.jpg") repeat-x;*/color: #fff;
/*border-top:1px solid #484848;*/
border-bottom: 1px solid #222222;
box-shadow: inset 0 -20px 90px rgba(0, 0, 0, 0.5),
			inset 0 1px 0 #484848;
border-top:10px solid #1f1f1f;
}
#header .headerLeftPart{margin-left: 0;}
#header .logo{float: left;padding: 10px 0 0;margin: 0 50px 0 0;}
#header .logo img{}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
  #header .logo a{background: url("../images/logo_FDM-CASSIOPEE@2x.png") no-repeat 0 0; width:127px; height:57px; background-size: 100%; margin-left: auto;margin-right: auto; z-index: 10; display: block; }
  /*a#logopqr:after {position: absolute; top: 0; text-align: left; width: 199px; height:97px; display: block;}*/
  .header a[id=logopqr] img#PhotoPQR {display: none;}
}
#navTop{float: left;overflow: hidden;margin: 0 0 -1px 0; padding: 0;}
#navTop li{float: left;}
#navTop li a{color: #9d9d9d;display:block;font-size:14px;text-align: center;padding:17px 0 0;width: 78px;height: 78px;border-left:1px solid #424243;border-right:1px solid #222222;}
#navTop li a:hover,
#navTop li a:focus{
	text-decoration: none;
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #101010, #1b1b1b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#101010), to(#1b1b1b));
	background-image: -webkit-linear-gradient(top, #101010, #1b1b1b);
	background-image: -o-linear-gradient(top, #101010, #1b1b1b);
	background-image: linear-gradient(to bottom, #101010, #1b1b1b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#101010', endColorstr='#1b1b1b');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#101010', endColorstr='#1b1b1b')";
}
#navTop li a.active{color: #00408a;height: 79px;
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
	background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
	background-image: linear-gradient(to bottom, #f6f6f6, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#eeeeee')";
}
#navTop li a.off{filter : alpha(opacity=60);opacity: 0.6;cursor: default;background: none;text-decoration: none!important;}
#navTop li a .navIcon{display: block;width: 24px;height: 24px;margin: 0 auto 10px;}
#navTop li a .navIcon-home{background: url("../images/navIcon-home.png") no-repeat;}
#navTop li a .navIcon-analysis{background: url("../images/navIcon-analysis.png") no-repeat;}
#navTop li a .navIcon-statistics{background: url("../images/navIcon-statistics.png") no-repeat;}
#navTop li a .navIcon-sms{background: url("../images/navIcon-sms.png") no-repeat;}
#navTop li a .navIcon-tracking{background: url("../images/navIcon-tracking.png") no-repeat;}
#navTop li a .navIcon-config{background: url("../images/navIcon-config.png") no-repeat;}
#navTop li a.active .navIcon{background-position: 100% 0;}

#menuTop{float: right; background: url("../images/header_menu-top-shape.png") no-repeat 100% 2px;min-height: 100%;margin: -2px 0 0;padding: 2px 0 0;text-align: right;}
#menuTop .nameUser{vertical-align: top;color: #7c7c7e;}
#menuTop .btn.logout {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 9px 19px;
	font-size: 11px;font-weight: bold;
	border: 1px solid #4a4a4d;
	color: #7c7c7e;
	background-color: #303031;
	background-image: -moz-linear-gradient(top, #4a4a4d, #303031);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4d), to(#303031));
	background-image: -webkit-linear-gradient(top, #4a4a4d, #303031);
	background-image: -o-linear-gradient(top, #4a4a4d, #303031);
	background-image: linear-gradient(to bottom, #4a4a4d, #303031);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4d', endColorstr='#303031');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4d', endColorstr='#303031')";
	padding-right: 3px;
	padding-left: 3px;
	text-transform: uppercase;
}
.icon-logout{background: url("../images/icon-logout.png") no-repeat 0 2px;width: 9px; height: 11px;margin-right:2px;padding-top:4px; }
#menuTop .to{color: #7c7c7e;border-radius: 2px;border:1px solid #4a4a4d;padding: 4px 8px;text-transform: uppercase;}
#menuTop .to .caret{margin-left: 15px;}
.lt-ie9 .forMedia{max-width:220px;/*display: block;float: left; margin-right: 20px;*/}
#menuTop .customDropdown.open{}
#menuTop .customDropdown .dropdown-menu{text-align:left;left: auto;right: 0;top: 0;padding-top: 0;margin-top:0;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #9fa2a2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#menuTop .customDropdown .dropdown-menu a{margin: 5px;padding: 0 5px;padding-bottom: 0;color: #7c7c7e;border-bottom: 1px solid #cecece;box-shadow: 0 1px 0 #fff;}
#menuTop .customDropdown .dropdown-menu li:last-child a, #menuTop .customDropdown .dropdown-menu a.last{border: none;box-shadow: none;}
#menuTop .customDropdown .dropdown-menu a:hover, #menuTop .customDropdown .dropdown-menu a:focus{background: #fff;color: #3d3d3f;border: none;box-shadow: none;margin-bottom: 6px;}
#menuTop .customDropdown .dropdown-menu li:last-child a:hover,#menuTop .customDropdown .dropdown-menu a.last:hover{margin-bottom:5px; }
#menuTop .customDropdown .dropdown-menu .to{margin:0 0 -5px;padding-bottom: 0;border:none;text-align: left;box-shadow: none;display: block;background: none;}
#menuTop .customDropdown .dropdown-menu .to .caret{float: right;}

#menuTop .service{text-transform: uppercase;font-size: 11px;font-weight: bold;padding: 2px 4px;
	background-color: #00418b;
	background-image: -moz-linear-gradient(top, #004fa6, #00418b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004fa6), to(#00418b));
	background-image: -webkit-linear-gradient(top, #004fa6, #00418b);
	background-image: -o-linear-gradient(top, #004fa6, #00418b);
	background-image: linear-gradient(to bottom, #004fa6, #00418b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004fa6', endColorstr='#00418b');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#004fa6', endColorstr='#00418b')";
}
#menuTop .service:hover,#menuTop .service:focus{
	background-color: #003877;
	background-image: -moz-linear-gradient(top, #004492, #003877);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004492), to(#003877));
	background-image: -webkit-linear-gradient(top, #004492, #003877);
	background-image: -o-linear-gradient(top, #004492, #003877);
	background-image: linear-gradient(to bottom, #004492, #003877);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004492', endColorstr='#003877');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#004492', endColorstr='#003877')";
}
#menuTop .service .icon-star{background: url("../images/icon-star.png") no-repeat 2px 2px;}

/*mediaqueries pour le header*/
@media (max-width: 865px){
	#header{margin-right: -25px;margin-left: -25px;}
	#header .headerLeftPart{clear: both;width: 100%;border-top: 1px solid #484848;margin: 0;}
	#header .headerLeftPart .logo{margin-left:20px}
	#header .headerRightPart{clear: both;width: 100%;text-align: center;min-height: 50px;padding: 10px 0 0;}
	#header .headerRightPart .forMedia{max-width: 500px;display: inline-block;}
	#menuTop{background: none;}
	#menuTop .nameUser{vertical-align: middle;margin: 0 20px 0 0;}
	#menuTop .btn.logout {margin: 5px 20px 0;float: right;}
	#menuTop .to{margin: 0 20px 0 0;}
	#menuTop .to .caret{}
	#menuTop .service{margin: 0 20px 0 0;}
}

.wrapperContent{overflow:hidden;clear:both;}
.dashboardElement{border-radius: 4px;border:1px solid #d4d4d4;background: #ffffff;margin-top: 20px;position: relative;}
.lt-ie8 .dashboardElement{margin-bottom: 20px;}
.dashboardElement .contentDashboard{padding:10px;overflow: hidden;position: relative;}
.onglet{background: url("../images/onglet.png") no-repeat;padding: 10px;margin:20px 0 -40px;/*margin:-51px 0 0 -11px;*/ z-index: 3;position: relative;}

.whatNews .logo{}
.whatNews .dashboardElement{position: relative;overflow: hidden;border-top-left-radius: 0;}
.lt-ie8 .whatNews .dashboardElement{padding-top: 20px;}
.whatNews .role{position: absolute;margin: 0 0 0 10px;color: #3d3d3f;font-size: 13px;font-family: 'HelveticaNeueLTStd-Md';margin-top: 9px;line-height: 17px;}
.lt-ie8 .whatNews .role{top: 10px;}
.whatNews .role span{color: #7c7c7e;}

/*.grpLinkNews .ongletRight{font-size: 18px;color: #fff;margin: 0 0 30px;}*/
.ongletRight{float:right;text-align: right;padding:15px 10px 0 0;font-size: 18px;color: #fff;width: 250px;height: 56px;background: url("../images/grpLink.png") no-repeat 100% 0;position: relative;z-index: 1;}
.grpLinkNews{padding:  15px 15px 10px 20px; float: right;margin: -6px 0 0 0;
	background-color: #40a7ce;
	background-image: -moz-linear-gradient(top, #40a7ce, #3a99bc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40a7ce), to(#3a99bc));
	background-image: -webkit-linear-gradient(top, #40a7ce, #3a99bc);
	background-image: -o-linear-gradient(top, #40a7ce, #3a99bc);
	background-image: linear-gradient(to bottom, #40a7ce, #3a99bc);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a7ce', endColorstr='#3a99bc');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a7ce', endColorstr='#3a99bc')";*/
	border-radius: 5px;
	border-top: 2px solid #40a7ce;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	text-align: center;
}
.lt-ie8 .grpLinkNews{margin-top: -20px}
.grpLinkNews .hideBorder{height: 2px; margin-bottom: -1px;background-color: #40a7ce;position: relative;z-index: 1;}
.grpLinkNews a{display: inline-block;width: 180px;height: 59px;margin: 0 0 0 20px;border-top:1px solid #6eb9d4;box-shadow: 0 -1px 0 #2e8bb9; border-radius: 3px;}
.grpLinkNews a:hover{
	position: relative;z-index: 2;
	border: 1px solid #3690bb;
	border-top: 1px solid #80e2ef;
	background-color: #40a9d1;
	background-image: -moz-linear-gradient(top, #55c4df, #40a9d1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55c4df), to(#40a9d1));
	background-image: -webkit-linear-gradient(top, #55c4df, #40a9d1);
	background-image: -o-linear-gradient(top, #55c4df, #40a9d1);
	background-image: linear-gradient(to bottom, #55c4df, #40a9d1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55c4df', endColorstr='#40a9d1');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#55c4df', endColorstr='#40a9d1')";
}
/*.grpLinkNews a.line1{border-top: none;box-shadow: none;}*/
.grpLinkNews a .num{float: left;color: #fff;font-size: 50px;line-height: 50px;width:50px;vertical-align: top;margin: 0 10px 0 0;text-align: center;font-weight: bold;letter-spacing: -5px;font-family: 'HelveticaNeueLTStd-Md';}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
	.grpLinkNews a .num{text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);padding: 10px 0 0 ;}
}
.grpLinkNews a .txt{float: left;text-align: left;}
.grpLinkNews a .icon{width: 24px; height: 24px;margin: 5px 0 -6px;}
.grpLinkNews a .newsIcon-flight{background: url("../images/newsIcon-flight.png") no-repeat;}
.grpLinkNews a .newsIcon-reports{background: url("../images/newsIcon-reports.png") no-repeat;}

.grpLinkNews a .newsIcon-events{background: url("../images/newsIcon-events.png") no-repeat;}

.tableHeader{height: 40px;line-height: 40px;color: #00408a;font-size: 18px;padding: 0 0 0 20px;border-radius: 4px 4px 0 0;border-bottom:1px solid #d4d4d4; 
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
}
.tableHeader .btn-tertiary {margin-top: 5px;margin-right: 10px;text-transform: uppercase;font-size: 12px;font-weight: normal;padding-bottom: 2px;text-shadow: none;}

.table-bordered thead tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
	color: #444;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 0 white;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 white;
	background: #dbdbdb;
	background: -moz-linear-gradient(top, #ececec 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top, #ececec 0%,#dbdbdb 100%);
	background: -o-linear-gradient(top, #ececec 0%,#dbdbdb 100%);
	background: -ms-linear-gradient(top, #ececec 0%,#dbdbdb 100%);
	background: linear-gradient(top, #ececec 0%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#dbdbdb')";
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {border-left: 0px;}
.table th, .table td {border-top: none;padding: 4px 8px;}
.no-border{border: none!important;}
.nb{width: 22px;height: 21px;display: block;}
.nb.one{background: url("../images/nbOne.png") no-repeat;}
.nb.two{background: url("../images/nbTwo.png") no-repeat;}
.nb.three{background: url("../images/nbThree.png") no-repeat;}
.warning{background: url("../images/icon-warning.png") no-repeat;width: 26px;height: 22px;display: block;}
.showDetails{line-height: 16px;padding: 0 6px;border-color: #cecece;
	background: #cecece;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #cecece 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#cecece));
	background: -webkit-linear-gradient(top, #e6e6e6 0%,#cecece 100%);
	background: -o-linear-gradient(top, #e6e6e6 0%,#cecece 100%);
	background: -ms-linear-gradient(top, #e6e6e6 0%,#cecece 100%);
	background: linear-gradient(top, #e6e6e6 0%,#cecece 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cecece');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cecece')";
}
.showDetails:hover,.showDetails:focus{
	background: #bcbcbc;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #bcbcbc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#bcbcbc));
	background: -webkit-linear-gradient(top, #dbdbdb 0%,#bcbcbc 100%);
	background: -o-linear-gradient(top, #dbdbdb 0%,#bcbcbc 100%);
	background: -ms-linear-gradient(top, #dbdbdb 0%,#bcbcbc 100%);
	background: linear-gradient(top, #dbdbdb 0%,#bcbcbc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#bcbcbc');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#bcbcbc')";
}
.sd{max-width: 31px;display: block;}
.showDetails .icon-plus{background: url("../images/icon-plus.png") no-repeat 2px 3px;}

/*#footer{background: url("../images/footer_bg.png") repeat-x;}*/
#footer{background: #1f1f1f url("../images/bg_dalle.jpg") repeat;min-height: 80px;margin: 20px 0 0;padding: 11px 0 9px;overflow: hidden;
	border-top:1px solid #484848;
	border-bottom: 1px solid #222222;
	box-shadow: inset 0 -20px 90px rgba(0, 0, 0, 0.5);
}
#footer .logo{border-right: 1px solid #1d1d1d;box-shadow: 1px 0 0 #444445;float: left;padding: 0 30px 0 0;height:60px;}
#footer .links{float:left;min-height:60px;border-right: 1px solid #1d1d1d;box-shadow: 1px 0 0 #444445;padding: 0 30px 0 20px;color: #7e7e7e;font-size: 12px;}
.lt-ie9 #footer .links{padding-right: 20px;}
#footer .links .txt{margin-bottom: 10px;}
#footer .links a{color: #717172;margin: 0 50px 0 0;display: block;float: left;}
#footer .links a:last-child{margin-right: 0;}
#footer .links a.last-child{margin-right: 0;}
#footer .links a span{display: inline-block;width:25px;height: 16px;color: #728dc6;font-size: 20px; }
#footer .links a .screen{background: url("../images/icon-screen.png") no-repeat;vertical-align: middle;}
#footer .copyright{float:left;min-height:60px;max-width:145px;padding: 10px 0 0 20px;color: #7c7c7e;font-size: 12px;}

@media (max-width: 960px){
	#footer{margin-right: -25px;margin-left: -25px;}
	#footer .logo{min-height: 100px;margin-left: 20px;padding-top: 25px;}
	#footer .links{min-width: 420px;width:70%;border-right:none;box-shadow: none; padding-right: 0;}
	#footer .links a{min-width: 200px;}
	#footer .copyright{max-width: none;min-height: 0; margin-left:0; }
}

/**graph**/
.noData {width:100%; height:250px;background: url("../images/noData_bg.jpg") no-repeat;position: relative;}
.noData p{position: absolute;top:88px;width:100%;text-align: center;font-size: 30px;color: #7c7c7e;line-height: 35px;}

/*tentative => resultat peut probant
.customSpan .span6{margin-left:0;margin-right:1%;}
.customSpan .span6:nth-child(even){float: right; }
@media (max-width: 865px){
	.customSpan .span6{float: none!important;}
}
*/