/********************************
*								*
*	1. global 					*
*		- general state 		*
*		- form 					*
*		- general typo 			*
*		- conditionnal state 	*
*	2. color 					*
*	3. #header 					*
*								*
*********************************/
/*FIX TYPO*/
	/*	
		// typo baveuse fix
		.fontfix{
		    -webkit-font-smoothing:antialiased;
		    -moz-osx-font-smoothing:grayscale;
	    }
	*/
	/*
		//dans le node html
		-webkit-transform: rotate(0.01deg);
		-moz-transform: rotate(0.01deg);
		-ms-transform: rotate(0.01deg);
		-o-transform: rotate(0.01deg);
		transform: rotate(0.01deg);
	*/

/* GPU /!\ check perf, use carefully /!\
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
*/


/***** global *****/
	[ng\:cloak], [ng-cloak], .ng-cloak {
	  display: none !important;
	}
	
	button{cursor: pointer; outline: none; font: inherit;}
	a{text-decoration: none;}


	/*empèche les padding de dépasser la width fixé*/
	*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

	/*empeche le retour à la ligne*/
	.no-break{white-space: nowrap;}

	/*force une longue chaine de caracteres à "casser" sur une autre ligne plutôt que de dépasser de son conteneur*/
	.break {-ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
	/*cache le text et remplace par "..." lorsqu'il dépace la taille fixée*/
	.ellipsis {width: 250px; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; /* Required for IE8 */ -o-text-overflow: ellipsis; /* Required for Opera */ text-overflow: ellipsis;}

	/*general positionning*/
		.left{float: left;}
		.right{float: right;}

		.clear{clear: both;}
		.clearfix:before, .clearfix:after {content: " ";display: table;}
		.clearfix:after{clear: both;}
		/* IE6/7 support */
		.clearfix {*zoom: 1;}

		/*
		<div class="verticalCenter">
			<span>Center me verticaly</span>
		</span>
		*/
		.verticalCenter,
		.alignMiddle{letter-spacing: -0.3em; white-space: nowrap;}/*must have a fixed width*/
		.verticalCenter:before,
		.alignMiddle:before{content: " "; display: inline-block; vertical-align: middle; height: 100%; width: 0.1%; padding: 0!important;}
		.verticalCenter>*,
		.alignMiddle>*{display: inline-block; vertical-align: middle; width: 99.8%; letter-spacing: 0; white-space: normal;}

	/***** general state *****/
		.hide{display: none;}/*carefull, this hide to screen readers too*/
		.show{display: block;}
		.disabled{pointer-events: none; cursor: not-allowed; opacity: 0.5; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
		.visuallyHidden{/*hide to humans only, screenreaders can still read it*/ position: absolute; width: 1px; /* Setting this to 0 make it invisible for VoiceOver */ height: 1px; /* Setting this to 0 make it invisible for VoiceOver */ padding: 0; margin: -1px; border: 0; clip: rect(0 0 0 0); overflow: hidden;}
	
	/***** form *****/
	    ::-webkit-input-placeholder{font-style: italic;}
	              :-moz-placeholder{font-style: italic;}
	             ::-moz-placeholder{font-style: italic;}
			input[type="submit"]{cursor: pointer; }
		/*fix safari */
		/*textarea,*/
		/*select,*/
		input[type="submit"],
		input[type="search"]{-webkit-appearance: none;}
		
		/* select */
			/* class applies to select element itself, not a wrapper element */
			.select-css {
				display: block; width: 100%; max-width: 100%; margin: 0; padding: .6em 1.4em .5em .8em;
				font-size: 16px; font-family: sans-serif; font-weight: 700; line-height: 1.3; color: #444;
				box-sizing: border-box; border-radius: .5em; border: 1px solid #aaa; box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
				background-color: #fff;
				/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
					for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
					
				*/
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
				  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
				background-repeat: no-repeat, repeat;
				/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
				background-position: right .7em top 50%, 0 0;
				/* icon size, then gradient */
				background-size: .65em auto, 100%;
			}
			/* Hide arrow icon in IE browsers */
			.select-css::-ms-expand {display: none;}
			/* Hover style */
			.select-css:hover {border-color: #888;}
			/* Focus style */
			.select-css:focus {
				color: #222; border-color: #aaa;
				/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
				box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7); box-shadow: 0 0 0 3px -moz-mac-focusring; outline: none;
			}
			/* Set options to normal weight */
			.select-css option{font-weight:normal;}
			/* Support for rtl text, explicit support for Arabic and Hebrew */
			*[dir="rtl"] .select-css,
			:root:lang(ar) .select-css,
			:root:lang(iw) .select-css {
				padding: .6em .8em .5em 1.4em;
				background-position: left .7em top 50%, 0 0;
			}
			/* Disabled styles */
			.select-css:disabled, 
			.select-css[aria-disabled=true]{
				color: graytext;
				background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
				  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
			}

			.select-css:disabled:hover, 
			.select-css[aria-disabled=true]{border-color: #aaa;}
		
	/***** general typo *****/
    	.code{font-family: monospace;}
		strong{font-weight: bold;}
		em{font-style: italic;}
		em strong, strong em{font-weight: bold; font-style: italic;}
		sup{position: relative; top: -0.5em; line-height: 0; vertical-align: baseline; font-size: 0.6em;}
		sub{position: relative; top:  0.5em; line-height: 0; vertical-align: baseline; font-size: 0.6em;}
		.text-uppercase{text-transform: uppercase;}
		.text-center{text-align: center;}
		.text-justify{text-align: justify;}
		.text-left{text-align: left;}
		.text-right{text-align: right;}


	/***** ratio video/iframe ****/
		/*
			<div class="video-container">
				<iframe src="http://www.youtube.com/embed/dFVxGRekRSg" allowfullscreen="1" frameborder="0" width="560" height="315"></iframe>
			</div>
		*/
		.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;}
		/* 56.25% => ratio vimeo */
		
		.video-container iframe,
		.video-container object,
		.video-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

	
	/***** conditionnal state *****/
		/*si pas de js :*/
		.no-js{}
		/*si on est sur ie :*/
		.ie{}
		/*si on est sur ie<9 :*/
		.lt-ie9{}
		/*si on est sur ie<8 :*/
		.lt-ie8{}
		/*si on est sur ie<7 :*/
		.lt-ie7{}

	/*pause les animation css3*/
	.paused{ -webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused;}

	.btn{display: inline-block; margin: 0 auto; 
		color: #fff; text-transform: uppercase; text-align: center; font-size:11px; 
		border:none; outline: none; cursor: pointer; border-radius: 2px; 
		background: #89004d;
		background: -moz-linear-gradient(top, #d40078 0%, #89004d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d40078), color-stop(100%,#89004d));
		background: -webkit-linear-gradient(top, #d40078 0%,#89004d 100%);
		background: -o-linear-gradient(top, #d40078 0%,#89004d 100%);
		background: -ms-linear-gradient(top, #d40078 0%,#89004d 100%);
		background: linear-gradient(top, #d40078 0%,#89004d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40078', endColorstr='#89004d');/*gradient IE*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40078', endColorstr='#89004d')";/*gradient IE*/
	}
	.btn-none{border: none; background: transparent;}
	.btn-reset{margin: 0; padding: 0; border: none; background: transparent;}
	.btn-none:hover,
	.btn-none:focus,
	.btn-none:active,
	.btn-reset:hover,
	.btn-reset:focus,
	.btn-reset:active{border: none; background: transparent;}


	/*hauteur du site = hauteur du navigateur*/
	/*html, body{height: 100%; padding: 0; margin: 0;}*/

	/* scroll IOS SMOOOOOOOTH */
		/* -webkit-overflow-scrolling: touch; */

	/* styled scrollbar (webkit) */
	/*
		.scrollbar-custom::-webkit-scrollbar {width: 5px; background: transparent;}
		.scrollbar-custom::-webkit-scrollbar-track {background: transparent;}
		.scrollbar-custom::-webkit-scrollbar-thumb {background: #737375; border-radius: 50px;}
	*/

	[draggable]:active {
	    cursor: -webkit-grabbing;
	    cursor: -moz-grabbing;
	}

	[draggable] {
	    cursor: -webkit-grab;
	    cursor: -moz-grab;
	}
	
	img{max-width: 100%;}

	
/**************** CSS du site ci-apres ***************/
	.wrapper{}

	.inner{max-width:100%; width: 960px;margin:0 auto;}


	/*::selection{background: #b01055; color: #fff;}*/

	/* REM polify */
		html {
		  box-sizing: border-box;
		  font-size: .625em; /* fallback IE8+ */
		  font-size: calc(1em * .625); /* IE9-IE11 math fixing */
		}
		*, *:before, *:after {
		  box-sizing: inherit;
		}
		body {
		  font-size: 1.4em; /* base font-size is equivalent "14px" */
		}
	/*.blabla {font-size: 18px; font-size: 1.8rem;} /* 18px */

	body{line-height: 1.2;
		background-color: #EFEEEC; 
		/* IOS RESIZE TYPO FIX */ 
			-webkit-text-size-adjust: 100%;
		/* typo baveuse fix*/
		    -webkit-font-smoothing:antialiased;
		    -moz-osx-font-smoothing:grayscale;
	}
	a{color: #000;}
	.errors{color: #ff0000;}

	p{margin-bottom: 1em;}

/* for text editor type WP */
	.wysiwyg{
	    h1 {}
	    h2 {}
	    h3 {}
	    h4 {}
	    h5{}
	    h6{}
	    p{margin-bottom: 1em;}

	    ol, ul{ padding-left: 25px; margin-bottom: 1em;}
	    ol,
	    ol li{
	        list-style:decimal;
	    }
	    ul,
	    ul li{list-style:disc;}

	    blockquote{
	        p{display: inline;}
	        &:before{content: "« "; display: inline-block; font-weight: bold;}
	        &:after{content: " »"; display: inline-block; font-weight: bold;}
	        @extend %EuclidFlex;
	        font-size: rem(22px); line-height: rem(32px); letter-spacing: rem(-0.5px);

	        @include tablet {
	            font-size: rem(18px); line-height: rem(28px);
	        }
	        @include mobile {
	            font-size: rem(18px); line-height: rem(26px);
	        }
	    }
	    table td{
	        padding: rem(35px) rem(25px);
	        border: 1px solid $grey-light;
	        font-size: rem(14px); line-height: rem(20px);
	        @include tablet {padding: rem(25px) rem(15px);}
	    }
	}